# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

<strong>Objectives:</strong>
* list data science languages
* list data science libraries
* a table of Data Science tools
* arithmetic expression examples
* multiply and add numbers
* convert minutes to hours

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Scala
5. Julia
6. Java
7. C++

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Scikit-learn
3. Tensorflow
4. Keras
5. Plotly
6. PyTorch

| Data Science Tools| 
| --- |
| RStudio |
| Apache Spark |
| TensorFlow |

Below are a few examples of evaluating arithmetic expressions in Python:
1. $**$, for exponentiation
2. $//$, for integer division
3. %, for modulus

This a simple arithmetic expression to mutiply then add integers

In [1]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [3]:
min = 200
h=min//60
m=min%60
print(min,'minutes','=',h,'hours',m,'minutes')

200 minutes = 3 hours 20 minutes

## Author
Yuxuan Dong